{% load static %}
<script src="{% static 'customadmin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'customadmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'customadmin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'customadmin/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'customadmin/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'customadmin/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'customadmin/js/demo/chart-pie-demo.js' %}"></script>